<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChallongeNet.TestProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChallongeNet.TestProject.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="apiKey" serializeAs="String">
                <value>key</value>
            </setting>
            <setting name="organization" serializeAs="String">
                <value>org</value>
            </setting>
            <setting name="email" serializeAs="String">
                <value>mail@example.com</value>
            </setting>
        </ChallongeNet.TestProject.Properties.Settings>
    </userSettings>
</configuration>